body {
    background-color: darkslategrey;
}

h1 {
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-decoration: underline;
}

h2 {
    padding-top: 100px;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 32px;
}

#info {
    padding-top: 40px;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 32px;
}

.container, .count-container {
    display: flex;
    flex: 1;
    gap: 30px;
    margin: 40px
}

.container {
    justify-content: center;
}

.count-container {
    gap: 0px;
    justify-content: space-between;
    text-align: center;
}

.myButton {
    text-align: center;
    color: white;
    font-size: 24px;
}

.rock, .paper, .scissors {
    cursor: pointer;
    border: none;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.rock:hover, .paper:hover, .scissors:hover {
    border: 5px solid sandybrown;
}

.rock{
    background:url(./images/rock.jpg) no-repeat;
}

.paper {
    background:url(./images/paper.jpg) no-repeat;
}

.scissors {
    background:url(./images/scissors.jpg) no-repeat;
}

.counter {
    font-size: 32px;
    color: white;
}